.searches{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.search{
  margin: 5%;
}

h2{
  text-align: center;
}

.keywords{
  display: grid;
  text-align: center;
}

.Content{
  border: 1px;
  border-style: solid;
  margin-top: 10px;
} 

.Content-Title{
  text-align: center;
}


.title{
  text-align: center;
}

.data{
  display: grid;
  grid-template-columns : 70% 30%;
}

.main{
  border: 1px;
  border-style: solid;
}

.keyword{
  border: 1px;
  border-style: solid;
}

.navigation{
  display: grid;
  grid-template-columns : 33% 33% 33%;
  text-align: center;
}

.items{
  margin-top: 30px;
}